In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas_ta as ta

In [36]:
ticker = "AAPL"
period = "max"
interval = "1d"
# df = pd.DataFrame().ta.ticker(ticker, start="2021-01-01", end="2021-01-02", interval=interval)
df = pd.DataFrame().ta.ticker(ticker, period=period, interval=interval)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12 00:00:00-05:00,0.099584,0.100017,0.099584,0.099584,469033600,0.0,0.0
1980-12-15 00:00:00-05:00,0.094821,0.094821,0.094388,0.094388,175884800,0.0,0.0
1980-12-16 00:00:00-05:00,0.087893,0.087893,0.087461,0.087461,105728000,0.0,0.0
1980-12-17 00:00:00-05:00,0.089625,0.090058,0.089625,0.089625,86441600,0.0,0.0
1980-12-18 00:00:00-05:00,0.092224,0.092657,0.092224,0.092224,73449600,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-16 00:00:00-04:00,171.990005,173.139999,171.800003,172.070007,42110300,0.0,0.0
2023-05-17 00:00:00-04:00,171.710007,172.929993,170.419998,172.690002,57951600,0.0,0.0
2023-05-18 00:00:00-04:00,173.000000,175.240005,172.580002,175.050003,65496700,0.0,0.0
2023-05-19 00:00:00-04:00,176.389999,176.389999,174.940002,175.160004,55772400,0.0,0.0
2023-05-22 00:00:00-04:00,173.979996,174.710007,173.449997,174.199997,43497600,0.0,0.0

In [44]:
df.ta.categories

['candles',
 'cycles',
 'momentum',
 'overlap',
 'performance',
 'statistics',
 'trend',
 'volatility',
 'volume']

In [49]:
result = df.ta.strategy("Momentum")
print(result)
print(type(result))

39it [00:01, 20.02it/s]

None
<class 'NoneType'>

In [46]:
# Create your own Custom Strategy
CustomStrategy = ta.Strategy(
    name="Momo and Volatility",
    description="SMA 50,200, BBANDS, RSI, MACD and Volume SMA 20",
    ta=[
        {"kind": "sma", "length": 50},
        {"kind": "sma", "length": 200},
        {"kind": "bbands", "length": 20},
        {"kind": "rsi"},
        {"kind": "macd", "fast": 8, "slow": 21},
        {"kind": "sma", "close": "volume", "length": 20, "prefix": "VOLUME"},
    ]
)
# To run your "Custom Strategy"
df.ta.strategy(CustomStrategy)

In [52]:
df.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods

In [62]:
df2 = df.ta.ticker("aapl", period="1y", interval="1h")

In [66]:
df.ta.strategy(ta.AllStrategy)

0it [00:00, ?it/s]/opt/homebrew/Cellar/python@3.11/3.11.3/Frameworks/Python.framework/Versions/3.11/lib/python3.11/multiprocessing/pool.py:48: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  return list(map(*args))
/opt/homebrew/Cellar/python@3.11/3.11.3/Frameworks/Python.framework/Versions/3.11/lib/python3.11/multiprocessing/pool.py:48: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  return list(map(*args))
/opt/homebrew/Cellar/python@3.11/3.11.3/Frameworks/Python.framework/Versions/3.11/lib/python3.11/multiprocessing/pool.py:48: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  return list(map(*args))
131it [00:04, 27.97it/s]

In [71]:
for i in df.columns:
    print(i)

Open
High
Low
Close
Volume
Dividends
Stock Splits
SMA_10
SMA_20
SMA_50
SMA_200
VOL_SMA_20
ABER_ZG_5_15
ABER_SG_5_15
ABER_XG_5_15
ABER_ATR_5_15
ACCBL_20
ACCBM_20
ACCBU_20
AD
ADOSC_3_10
ADX_14
DMP_14
DMN_14
ALMA_10_6.0_0.85
AMATe_LR_8_21_2
AMATe_SR_8_21_2
AO_5_34
OBV
OBV_min_2
OBV_max_2
OBVe_4
OBVe_12
AOBV_LR_2
AOBV_SR_2
APO_12_26
AROOND_14
AROONU_14
AROONOSC_14
ATRr_14
BBL_5_2.0
BBM_5_2.0
BBU_5_2.0
BBB_5_2.0
BBP_5_2.0
BIAS_SMA_26
BOP
AR_26
BR_26
CCI_14_0.015
CDL_DOJI_10_0.1
CDL_INSIDE
open_Z_30_1
high_Z_30_1
low_Z_30_1
close_Z_30_1
CFO_9
CG_10
CHOP_14_1_100
CKSPl_10_3_20
CKSPs_10_3_20
CMF_20
CMO_14
COPC_11_14_10
CTI_12
LDECAY_5
DEC_1
DEMA_10
DCL_20_20
DCM_20_20
DCU_20_20
DPO_20
EBSW_40_10
EFI_13
EMA_10
ENTP_10
EOM_14_100000000
ER_10
BULLP_13
BEARP_13
FISHERT_9_1
FISHERTs_9_1
FWMA_10
HA_open
HA_high
HA_low
HA_close
HILO_13_21
HILOl_13_21
HILOs_13_21
HL2
HLC3
HMA_10
HWM
HWU
HWL
HWMA_0.2_0.1_0.1
ISA_9
ISB_26
ITS_9
IKS_26
ICS_26
INC_1
INERTIA_20_14
JMA_7_0
KAMA_10_2_30
KCLe_20_2
KCBe_20_2
KCUe_20_2
K_9_3
D_9_3
J_9_3
KST_10_15_20_30_10_10_10_15
KSTs_9
KURT_30
KVO_34_55_13
KVOs_34_55_13
LR_14
LOGRET_1
MACD_12_26_9
MACDh_12_26_9
MACDs_12_26_9
MAD_30
MOM_10
PGO_14
PPO_12_26_9
PPOh_12_26_9
PPOs_12_26_9
PSL_12
PVO_12_26_9
PVOh_12_26_9
PVOs_12_26_9
QQE_14_5_4.236
QQE_14_5_4.236_RSIMA
QQEl_14_5_4.236
QQEs_14_5_4.236
ROC_10
RSI_14
RSX_14
RVGI_14_4
RVGIs_14_4
SLOPE_1
SMI_5_20_5
SMIs_5_20_5
SMIo_5_20_5
SQZ_20_2.0_20_1.5
SQZ_ON
SQZ_OFF
SQZ_NO
SQZPRO_20_2.0_20_2_1.5_1
SQZPRO_ON_WIDE
SQZPRO_ON_NORMAL
SQZPRO_ON_NARROW
SQZPRO_OFF
SQZPRO_NO
STC_10_12_26_0.5
STCmacd_10_12_26_0.5
STCstoch_10_12_26_0.5
STOCHk_14_3_3
STOCHd_14_3_3
STOCHRSIk_14_14_3_3
STOCHRSId_14_14_3_3
TRIX_30_9
TRIXs_30_9
TSI_13_25_13
TSIs_13_25_13
UO_7_14_28
WILLR_14
BBL_20_2.0
BBM_20_2.0
BBU_20_2.0
BBB_20_2.0
BBP_20_2.0
MACD_8_21_9
MACDh_8_21_9
MACDs_8_21_9
VOLUME_SMA_20

In [75]:
t = yf.Tickers("aapl pltr")

In [99]:
import requests_cache
session = requests_cache.CachedSession('yfinance.cache')
session.headers['User-agent'] = 'my-program/1.0'
ticker = yf.Ticker('msft', session=session)
# The scraped response will be stored in the cache
ticker.history(period="1d", interval="1m")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-05-22 09:30:00-04:00,318.600006,318.690002,318.010010,318.230011,1187079,0.0,0.0
2023-05-22 09:31:00-04:00,318.230011,318.739990,318.220001,318.570007,157489,0.0,0.0
2023-05-22 09:32:00-04:00,318.554993,319.100006,318.510010,318.549988,142225,0.0,0.0
2023-05-22 09:33:00-04:00,318.549988,319.140015,318.399994,319.029999,154753,0.0,0.0
2023-05-22 09:34:00-04:00,319.059998,319.790009,319.059998,319.769989,152684,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-22 15:55:00-04:00,320.809998,320.890015,320.700012,320.839996,106966,0.0,0.0
2023-05-22 15:56:00-04:00,320.859985,321.010010,320.799988,320.989990,105259,0.0,0.0
2023-05-22 15:57:00-04:00,320.984985,321.109985,320.940002,321.079987,102067,0.0,0.0
2023-05-22 15:58:00-04:00,321.079987,321.230011,321.059998,321.166809,193853,0.0,0.0
2023-05-22 15:59:00-04:00,321.165009,321.290009,321.049988,321.234985,476957,0.0,0.0

In [9]:
import pandas as pd
import pandas_ta as ta

pd.DataFrame().ta.ticker("BRK-A")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17 00:00:00-05:00,290.0,310.0,290.00000,290.0,10000,0.0,0.0
1980-03-18 00:00:00-05:00,290.0,290.0,290.00000,290.0,0,0.0,0.0
1980-03-19 00:00:00-05:00,290.0,310.0,290.00000,290.0,20000,0.0,0.0
1980-03-20 00:00:00-05:00,290.0,290.0,290.00000,290.0,0,0.0,0.0
1980-03-21 00:00:00-05:00,290.0,290.0,290.00000,290.0,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-05-17 00:00:00-04:00,498176.0,503000.0,494787.00000,500600.0,6000,0.0,0.0
2023-05-18 00:00:00-04:00,502450.0,505420.0,498125.00000,504360.0,5900,0.0,0.0
2023-05-19 00:00:00-04:00,505890.0,511335.0,503905.00000,507161.0,6400,0.0,0.0
2023-05-22 00:00:00-04:00,506673.0,509654.0,500697.00000,501148.0,9700,0.0,0.0
2023-05-23 00:00:00-04:00,499999.0,502200.0,496871.03125,497500.0,4727,0.0,0.0